<h3>Description</h3>

This application is designed to allow users to create and edit 5 different parties (teams) of Pokemon.<br>
Pokemon may not be reused so that each party is entirely unique.

<h3>Navigation</h3>
<ul>
    <li><a href="{{ url_for('home')}}">Go to Pokemon input form.</a></li>
    <li><a href="{{ url_for('battle')}}">Go to battle input form.</a></li>
    <li><a href="{{ url_for('see_all_pokemon')}}">See all Pokemon that have ever been added.</a></li>
    <li><a href="{{ url_for('see_all_users')}}">See all users that have used this web app.</a></li>
    <li><a href="{{ url_for('see_all_parties')}}">See all parties that have been created.</a></li>
    <li><a href="{{ url_for('see_all_battles')}}">See all battles that have taken place.</a></li>
</ul>
<p>------------------------------------------------------------------------------------------------------------------------</p>

<h3>Current Page</h3>
{% block content %}
{% endblock %}
